/**
 * FileName: app.css
 * 
 * @author Dhruti patel
 * @date June 22, 2016
 * 
 * StudentID: 300857555
 * website: 
 * @description This file is the main css file for the web site
 */

/* custom syle sheet */

.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}